.vs
x64
Win32
DerivedData
*.out
*.bak
*.dwg
*.psd
*.eddx
*.xopp
*.DS_Store
*.pro.user
/.obsidian
taif/release/
taif/debug/
taif/build/
taif/.qtcreator/
taif/Makefile
taif/Makefile.*
taif/.qmake.stash
taif/Taif_resource.rc
